:root {
    --red-special: rgb(240, 70, 70);
    --viollet: rgb(60, 60, 126);
    --light-grey: #f7f7f7;
    --dark: #0e1010;
    --dark-bg: rgb(43, 49, 62);
    --btn-bg: #627792;
    --red-bg: #fc5546;
    --color-bd: #e8e9ea;
    --trans: all 0.3s ease-in-out;
}

.logo {
    display: flex;
    width: 300px;
    /* height: 0px; */
    padding-top: 20px;
    /* background-color: rebeccapurple; */
    background: url('../Image/logo.png') no-repeat;
    background-size: 80%;
    background-position: 20px;
    /* background-repeat: no-repeat; */
}

.navigation {
    text-align: center;
    width: 50%;
    /* background-color: aqua; */
}

.client {
    margin-top: 10px;
    justify-content: space-between;
    width: 250px;
    /* background-color: #fc5546; */

}

nav {
    position: relative;
    top: 10px;
    margin: auto;
    width: 95%;
    border-top: 1px solid rgb(180, 180, 180);
    

}
.nav-intro{
    height: 20px;
}

.nav-item {
    /* width: 20%; */
    display: block;
    padding: 10px;
    border-top: 2px solid #f7f7f7;
}

.nav-item:hover {
    border-top: 2px solid red;
}
.nav-item:hover .nav-link {
    color: var(--red-bg);
}
.nav-bar{
    justify-content: space-around;

}

.nav-link {
    width: 20%;
}

.button-seconnecter{
    position: relative;
    top: 5px;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--btn-bg);
    background: var(--btn-bg);
    color: #f7f7f7;
}
.button-seconnecter:hover{
    opacity: 0.8;
    transition: ease-in-out ;
}

.savoir-plus {
    display: flex;
    position: relative;
    bottom: -100px;
    width: 150%;
    height: 100px;
    border-radius: 10px;
    color: #f7f7f7;
    justify-content: space-between;
    background: var(--btn-bg);
    box-shadow: 0px 0px 20px rgb(54, 54, 54);
    padding: 20px;
}
.title-svp{
    overflow: hidden;
}
.title-savoir-plus {
    display: block;
    padding-top: 15px;
}

.btn-plus {
    width: 30%;
    color: #f7f7f7;
    background-color: var(--red-special);
    border: 2px solid var(--red-special);
    border-radius: 10px;
}
.btn-plus:hover {
    transition: 0.5s;
    opacity: 0.5;
}
.height {
    height: 250px;
}

.position {
    position: relative;
    top: 130px;
    height: 150px;
    width: 300px;
    box-shadow: 0px 0px 10px var(--btn-bg);
    border-radius: 0px 0px 10px 10px;

}

.bg-image1 {
    background: url(../Image/smart-confidence-asian-female-startup-entrepreneur-small-business-owner-businesswoman-wear-smart-casual-cloth-smile-hand-use-tablet-woking-inventory-checking-showroom-office-daytime-background_609648-342.avif) no-repeat;
    background-size: cover;
}

.bg-image2 {
    background: url(../Image/datacenter-en-maintenance-660x400.jpg) no-repeat;
    background-size: cover;
}

.bg-image3 {
    background: url(../Image/hebergeur-revendeur-hebergement-web.webp) no-repeat;
    background-size: cover;
}

.padding {
    padding: 30px 5px;
}

.titre {
    color: blue;
    font-weight: 700;
}

.sous-titre {
    color: var(--viollet);
    font-weight: 700;
}

.text-position-60 {
    display: block;
    position: relative;
    top: 60px;
}

.text-position-20 {
    display: block;
    position: relative;
    top: 10px;
}
.text-position-30 {
    display: block;
    position: relative;
    top: 50px;
}

.text-color {
    color: var(--btn-bg);
}

.text-service {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 5px;
}

.padding-1 {
    padding-top: 100px;
}

.text-service-text {
    
    font-weight: 700;
    color: var(--viollet);
}

.text-title {
    letter-spacing: 2px;
    color: blue;
    font-size: 10px;
    font-weight: 700;
}

.text-title-sous {
    color: var(--light-grey);
    font-weight: 700;
    font-size: 30px;

}

.bg-img-intro-1 {
    background: url(../Image/depositphotos_125905666-stock-photo-young-woman-with-headphones.jpg) no-repeat;
    background-size: cover;
}

.bg-img-intro-2 {
    background: url(../Image/joyful-african-american-millennial-guy-260nw-2120760845.webp) no-repeat;
    background-size: cover;
}

.bg-img-intro-3 {
    background: url(../Image/jeune-femme-venezuelienne-isolee-fond-bleu-sourires-joyeux-pointant-vers-avant_1187-160561.jpg) no-repeat;
    background-size: 100% 100%;
}

.bg-img-intro-4 {
    background: url(../Image/concept-joyeux-anniversaire-jeune-femme-ballons-fond-bleu_185193-82999.avif) no-repeat;
    background-size: cover;
}

.section-footer {
    /* border-top: 2px solid blue; */
    box-shadow: 0 0 100px rgb(217, 216, 216);
    padding-top: 50px;
    position: relative;
    bottom: -150px;
}

.cont-foot {
    border-top: 2px solid rgb(190, 186, 186);
}

.ico-fb {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 2px solid rgb(47, 79, 239);
    margin-right: 5px;
    color: blue;
}

.fb-pos {
    display: block;
    position: relative;
    top: 10px;
    color: rgb(140, 141, 141);
    font-size: 15px;
}

.ico-env {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    color: blue;
}

.env-pos {
    display: block;
    position: relative;
    top: 13px;
    color: rgb(140, 141, 141);
    font-size: 15px;
    color: blue;
}

.ico-phone {
    width: 50px;
    height: 70px;
    margin-right: 5px;
    color: blue;
}

.phone-pos {
    display: block;
    position: relative;
    top: 15px;
    color: rgb(140, 141, 141);
    font-size: 15px;
    color: blue;
}
.partenariat{
    height: 100px;
}

.position-bottom{
    position: relative;
    bottom: -30px;
}