:root {
    --red-special: rgb(240, 70, 70);
    --viollet: rgb(60, 60, 126);
    --light-grey: #f7f7f7;
    --dark: #0e1010;
    --dark-bg: rgb(43, 49, 62);
    --btn-bg: #627792;
    --red-bg: #fc5546;
    --color-bd: #e8e9ea;
    --trans: all 0.3s ease-in-out;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff75;
}

/* Pour le Titre et paragraphe */
h3 .Titre {
    font-weight: 700;
    color: var(--viollet);
}

h4 {
    font-weight: 600;
    color: var(--viollet);
}

h6 {
    font-weight: 600;
    font-size: 12px;
}

/* ********************* */
header {
    background-color: var(--viollet);
}

.logo-hebergeo-img {
    width: 200px;
    height: 60px;
    background-color: #138888;
    margin: 0% auto;
    padding: 0px !important;
    background: url('../../Image/logo.png') no-repeat;
    background-size: 100% ;
    background-position: 15px;
}

.PhraseEntete {
    margin: 20px auto;
    display: flex;
    padding: 10px;
    flex-flow: row wrap;
    justify-content: space-between;
}

.Titre {
    font-weight: 700;
    color: var(--viollet);
}

.TitlePhrase {
    width: 60%;
    margin: 0px;
}

.PhraseAccros {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    width: 150px;
    color: var(--viollet);
}

.Item1 {
    margin: 10px auto;
}

.Items {
    display: flex;
    flex-flow: row wrap;
}

.sub-item {
    width: 230px;
    padding: 0%;
    margin: 10px auto;
}

.descriptionItem {
    height: 200px;
    background-color: rgb(251, 250, 249);
    text-align: center;
    padding: 20px 10px;
    color: var(--viollet);
    box-shadow: 0px 0px 5px rgb(222, 218, 218);
}

.descriptionItem h2 {
    font-size: 220%;
    font-weight: 800;
    margin: 5%;
}

.descriptionItem p {
    font-weight: 550;
}

.Info-Item {
    margin: 8% auto;
    padding: 20px;
    height: 100px;
    border-radius: 4px;
    background-color: rgba(94, 140, 240, 0.406);
}

.Info-Item p {
    font-weight: 500;
    font-size: 12px;
    color: var(--viollet);
}

.Info-Item span {
    font-weight: 700;
}

/* ************* ***************************/
.Items-payement {
    padding: 10px 0%;
    display: flex;
    flex-flow: row wrap;
}

.Items-type-payement {
    width: 350px;
    margin: 20px auto;
    border-radius: 5px;
    padding: 0px;

}

.payement-description {
    height: 50px;
    margin: 20px auto;
    width: 90%;
    border-radius: 5px;
    padding: 0px;
    display: flex;
    background-color: #e8e9ea;
    justify-content: space-between;
}
.boucllier{
    width: 30px;
    height: 30px;
   margin-right: 10px;
   position: relative;
   top: 8px;
}

.Nom-payment {
    width: 50%;
    height: 100%;
    margin: 0px;
    padding: 5%;
    font-size: 13px;
}

.Radio_chois {
    margin-right: 10px;
    border: 1px solid red;
}

.Logo_payement{
    width: 45%;
    height: 100%;
    margin: 0px;
    background-color: rgb(210, 210, 210);
}

.paypal {
    background: url('../../icon/PayPal.svg.png') no-repeat;
    background-size: 90%;
    background-position: 5px;
}
.mvola{
    background: url('../../icon/mvola.png_large') no-repeat ;
    background-size: 140px 95%;
}
.airtel {
    background: url('../../icon/airtel-money.webp') no-repeat ;
    background-size: contain;
    background-position: 15px;
}
.orange {
    background-image: url('../../icon/orange_money.jpg') ;
    background-size: 100% 100%;
}

.Payement-Formulaire {
    width: 500px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(109, 108, 108);
    background-color: var(--light-grey);
}

form h5 {
    font-weight: 700;
    margin-bottom: 20px;
}

.Pays {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(218, 217, 217);
    border-radius: 10px;
    margin-bottom: 20px;
    height: 35px;
}
.Pays::placeholder{
    font-size: 13px;
}
.details{
    margin-left: 20px;
    color: var(--viollet);
}
.Remise , .Taxesfrais{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px auto;
}
.Remise h5 , .Taxesfrais h5{
    color: black;
    font-weight: 600;
    font-size: 15px;
    margin: 0px !important;
}
.money{
    color: #138876 !important;
}
.Total{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0%;

}
.Total h4{
    color: #0e1010 !important;
}
form h6{
    margin: 20px 0;
    color: var(--viollet);
}
.Carte , .Date-payement{
    margin: 10px auto;
    font-size: 12px;
    display: flex;
    justify-content: space-between;

}
.Carte input ,.Date-payement input{
    border: 1px solid var(--color-bd);
    border-radius: 2px;
    padding: 9px;
    width: 45%;
}
.Carte input::placeholder ,.Date-payement input::placeholder{
    font-size: 12px;
}
.buttonPayement{
    margin: 10px auto;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.buttonPayement button{
    color: var(--light-grey);
    width: 50%;
    height: 50px;
    margin: 20px auto;
    border: 1px solid var(--viollet);
    border-radius: 5px ;
    background-color: var(--viollet);
}
.securisation{
    width: 47%;
}
.securisation h6{
    margin: 10px;
    padding: 0%;
}
.TermeEtCondition{
    font-size: 12px;
    font-weight: bold;
}